.about{display:flex;width:100%}.about .about-main{display:flex;width:100%}.about .about-main .left-container{background-color:#2d385094;flex:1;padding:1rem}.about .about-main .right-container{flex:2;padding:1rem}

