.home{display:flex;width:100%}.home .home-main{display:flex;width:100%}.home .home-main .left-container{background-color:#2d385094;flex:1;padding:1rem}.home .home-main .right-container{flex:2;padding:1rem}

